body{
		padding: 0px;
		margin: 0px;
}

header, footer{
		background-color: #ffc7c7;
		text-align: center;
}

#important{
		background-color: #ffd6d6;
}

nav{
		background-image: url("images/bg_nav.png");
		height: 28px;
		color: #fff;
		padding: 0px;
		margin:0px;
}

nav ul li{
		list-style-type: none;
		display:inline;
		
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-collapse: collapse;
    margin-right: -6px;
		padding: 5px 0 5px 0;
}

nav ul{
		padding: 0px;
		margin: 0px;
		padding: 5px 0 5px 0;
}

nav ul li a{
		font-family: "Calibri","Arial","Verdana";
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li:hover{
    background-image: url("images/bg_nav_h.png");
}

#left,#important,#main{
display:inline-block;
}